@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

body {
  font-family: 'Chakra Petch', cursive;
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #106308;
  width: 100%;
  z-index: 1;
}

.navlinks-container {
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlinks {
  padding: 24px;
  cursor: pointer;
  list-style-type: none;
}

a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.profil {
  position: relative;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.profil > *{
  flex: 1 1 0;
}

.teks-profil{
  padding: 2rem;
}