@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

body {
  font-family: 'Chakra Petch', cursive;
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #106308;
  width: 100%;
  z-index: 1;
}

.navlinks-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlinks a{
  text-decoration: none;
  padding: 24px;
  color: white;
  text-transform: uppercase;
  
  display: block;
  cursor: pointer;
}

.navlinks a:hover{
  background: rgb(0, 0, 0, .5);
}

.profil {
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.profil > *{
  flex: 1 1 0;
}

.teks-profil{
  padding: 2rem;
}

footer{
  background: #222;
  padding: 2rem;
  color: #ddd;
}

@media screen and (min-width: 50em){
  .profil{
    flex-direction: row;
  }
}