@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

*,html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Chakra Petch', cursive;
}

section {
  height: 100vh;
}

.kontener {
  width: 100%;
  height: 100%;
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
  background-color: darkolivegreen;
}


.navbar{
  width: 100%;
  height: 80px;
  background-color: darkgreen;
  position: sticky;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navli {
  padding: 24px;
  margin: 14px;
  cursor: pointer;
  list-style-type: none;
}

.navlink {
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4em;
}

#gambar {
  border-radius: 50%;
  width: 220px;
  height: 220px;
}

.teks {
  color: white;
  display: flex;
}